body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: larger;
}
a {
    text-decoration: none;
    color: black;
    padding: 8px;
    border: 2px blue solid;
    background-color: lightgray;
}
